Body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    width: 960px;
    background-color: #777;
    font-size: 18px;
 }
 
 header {
    text-align: center;
    background: #ebebeb;
    height: 80px;
    margin: .5em;
    padding: .5em;
    margin-bottom: 20px;

 }
 #nav {
    text-align: center;
    background: #ebebeb;
    height: 80px;
    margin: .5em;
   padding: .5em;
 }
 
 #section {
   text-align: center;
   float: left;
   background: #ebebeb;
   height: 300px;
   width: 545px;
   margin: .5em;
   padding: .5em;
 }
 
 #article {
    text-align: center;
    margin: 0px 500px 0px 500px;
    color: #ebebeb;
    background: #777;
    margin: .5em;
    padding: .5em;
    z-index: 5px;
 }
 
 h1 {
    box-sizing: border-box;
    text-align: center;
    background: #ebebeb;
    color: #777;
    width: 100%;
    padding: .5em;
 }
 
 #p {
    box-sizing: border-box;
    text-align: center;
    background: #ebebeb;
    color: #777;
    width: 100%;
    padding: .5em;
 }
 
 #aside {
    text-align: center;
    float: right;
    background: #ebebeb;
    height: 300px;
    margin: .5em;
    padding: .5em;
    width: 340px;
    }
 
 #footer {
    text-align: center;
    background: #ebebeb;
    height: 80px;
    margin: .5em;
    padding: .5em;
    margin-bottom: 20px;
 }